<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-auto">
      <h2 class="title">INíCIO</h2>
    </div>
    <div class="col-auto">

      <mat-form-field appearance="outline" class="custom-search">
        <mat-label>Pesquisar</mat-label>
        <input class="search-input" matInput [(ngModel)]="searchTerm" [(ngModel)]="searchTerm" (keyup.enter)="search()"
          (ngModelChange)="search()" />
      </mat-form-field>


    </div>
  </div>

  <div class="row g-4">
    @for (character of characters; track character.id) {
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card position-relative">
        <img [src]="character.image" class="card-img-top" [alt]="character.name" />
        <button class="favorite-btn" [class.active]="isFavorite(character)" (click)="toggleFavorite(character)"
          aria-label="Favoritar personagem">
          <i [class]="isFavorite(character) ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
        </button>
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <p class="card-subtitle">{{ character.species }}</p>
        </div>
      </div>
    </div>
    }
  </div>

</div>
